{
    "branches": [
        "main"
    ],
    "ci": false,
    "dryRun": true,
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/git",
    ],
    "repositoryUrl": "https://github.com/jnnrz/newrepo",
    "tagFormat": "${version}"
}